html {
    font-size: 15px;
  }
  
  body {
    background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(#3f1832),
        to(#0a043e)
      )
      fixed;
  }
  
  a {
    color: darkred;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .card {
    background-color: green;
  }
  .card-body,
  ul {
    background-color: hsl(255, 100%, 98%);
    min-height: 1px;
  }
  .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .list-item {
    color: blue;
  }
  .list-group-item {
    background-color: inherit;
    border: none;
  }
  .under-list-item {
    font-size: 5rem;
  }
  .under-list-item .list-group-item {
    color: yellow;
  }
  
  .under-list-input input {
    height: calc(2.5em + 1.02rem);
  }
  
  .line-throught {
    text-decoration: line-through;
  }